<!doctype html>
<html>
<head>
	<title>{{title}}</title>

	<!-- Metadata -->
	<meta charset="{{charset}}">
	{{#meta}}
	{{{.}}}
	{{/meta}}

	<!-- JS -->
	{{#js}}
	{{{.}}}
	{{/js}}

	<!-- CSS -->
	{{#css}}
	{{{.}}}
	{{/css}}
</head>
<body>
	{{{content}}}
</body>
</html>