<h1>Welcome to my homepage!</h1>

{{#name}}
{{> greeting}}
{{/name}}

<p>Glad you could make it! Take off your coat and stay a while!</p>

<p><small>Try putting a name query param at the end of the url... <em>(e.g. ?name=Dave)</em></small></p>
